@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    background-color: #3ecf8e33;
    color: #edede6;
  }
}

@layer utilities {
  .tabular {
    font-variant-numeric: tabular-nums;
  }
}
